/* Write your CSS here */

.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  padding: 30px;
}

.todos-container {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container {
  list-style-type: none;
  width: 60vw;
}

.head {
  color: #ff8542;
  font-family: 'roboto';
  font-weight: bold;
}
